{% include 'cabecalho.html' %}


<h1>Formulário de Professor</h1>


<form action="/professor/salvar" method="post" class="mt-3">


    <div class="mb-3">
        <label class="form-label">Nome</label>
        <input type="text" name="nome" class="form-control" required>
    </div>


    <div class="mb-3">
        <label class="form-label">CPF</label>
        <input type="text" name="cpf" class="form-control" required>
    </div>

    
    <div class="mb-3">
        <label class="form-label">Disciplina</label>
        <input type="text" name="disciplina" class="form-control" required>
    </div>



 
    <button type="submit" class="btn btn-primary">Salvar</button>
    <a href="/aluno" class="btn btn-secondary">Voltar</a>

</form>


{% include 'rodape.html' %}
