{% include 'cabecalho.html' %}


<h1>Lista de professores</h1>

<a href="/professor/form" class="btn btn-primary mb-3">Novo Professor</a>

<table class="table table-bordered table-striped">
    <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Cpf</th>
            <th>Nome</th>
            <th>Disciplina</th>
            <th>Ações</th>
        </tr>
    </thead>


    <tbody>
        {% for professor in lista %}
        <tr>
            <td>{{ professor.id }}</td>
            <td>{{ professor.cpf }}</td>
            <td>{{ professor.nome }}</td>
            <td>{{ professor.disciplina }}</td>
            <td>
                <a href="/professor/form" class="btn btn-primary mb-3">Alterar</a>
                <a href="/professor/form" class="btn btn-primary mb-3">Remover</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>




{% include 'rodape.html' %}


