{% include 'cabecalho.html' %}


<h1>Lista de Alunos</h1>

<a href="/aluno/form" class="btn btn-primary mb-3">Novo Aluno</a>


<table class="table table-bordered table-striped">
    <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Matrícula</th>
            <th>Nome</th>
            <th>Ações</th>
        </tr>
    </thead>


    <tbody>
        {% for aluno in lista %}
        <tr>
            <td>{{ aluno.id }}</td>
            <td>{{ aluno.matricula }}</td>
            <td>{{ aluno.nome }}</td>
            <td>
                <a href="/aluno/form" class="btn btn-secondary mb-3">Alterar</a>
                <a href="/aluno/form" class="btn btn-danger mb-3">Remover</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>






{% include 'rodape.html' %}


