{% include 'cabecalho.html' %}


<h1>Formulário de Curso</h1>


<form action="/curso/salvar" method="post" class="mt-3">


    <div class="mb-3">
        <label class="form-label">Nivel</label>
        <input type="text" name="nivel" class="form-control" required>
    </div>


    <div class="mb-3">
        <label class="form-label">Curso</label>
        <input type="text" name="curso" class="form-control" required>
    </div>


 
    <button type="submit" class="btn btn-primary">Salvar</button>
    <a href="/curso" class="btn btn-secondary">Voltar</a>

</form>


{% include 'rodape.html' %}
