{% include 'cabecalho.html' %}


<h1>Lista de Cursos</h1>


<table class="table table-bordered table-striped">
    <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Nivel</th>
            <th>Nome</th>
        </tr>
    </thead>


    <tbody>
        {% for curso in lista %}
        <tr>
            <td>{{ curso.id }}</td>
            <td>{{ curso.nivel }}</td>
            <td>{{ curso.nome }}</td>

        </tr>
        {% endfor %}
    </tbody>
</table>




{% include 'rodape.html' %}


