{% include 'cabecalho.html' %}


<h1>Lista de Cursos</h1>

<a href="/curso/form" class="btn btn-primary mb-3">Novo Curso</a>

<table class="table table-bordered table-striped">
    <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Nivel</th>
            <th>Nome</th>
            <th>Ações</th>
        </tr>
    </thead>


    <tbody>
        {% for curso in lista %}
        <tr>
            <td>{{ curso.id }}</td>
            <td>{{ curso.nivel }}</td>
            <td>{{ curso.nome }}</td>
            <td>
                <a href="/curso/form" class="btn btn-primary mb-3">Alterar</a>
                <a href="/curso/form" class="btn btn-primary mb-3">Remover</a>
            </td>

        </tr>
        {% endfor %}
    </tbody>
</table>




{% include 'rodape.html' %}


